My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "6ae2fa29-d12d-4dbf-b52d-bec6022908be",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        360,
        120
      ],
      "webhookId": "531d5201-2493-4dfb-8d96-2c3a5c09ce75",
      "credentials": {
        "telegramApi": {
          "id": "HppyOqivpXqajUdK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "73583ca6-eab6-4c2e-bd4a-c97f0ef35c15",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1020,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "4Hu2swGRNkUVWy34",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.from.id }}"
      },
      "id": "d6fb7145-bfad-484a-8644-5e50b9f96a90",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1160,
        340
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "eeb8b238-97dd-449d-a807-3a2d53249008",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1420,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "HppyOqivpXqajUdK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e6c58413-d172-40c2-856b-3f3b4000f899",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1320,
        340
      ],
      "credentials": {
        "serpApi": {
          "id": "ZVIlbFGB0DlNMK0J",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f530053-5762-4e0f-8861-cc455fde40ea",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94d966bb-d47e-44be-ad99-708d35aee6e5",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user is asking a question about movies. Please provide a charming and conversational response to this query in the way Quentin Tarantino would, don't be afraid to curse:\n{{$json[\"message\"][\"text\"]}}\n",
        "options": {}
      },
      "id": "e269c6c0-345f-4a97-bf85-a4c80cd57862",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1020,
        140
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b82dd23-7874-4417-b498-529346f7b1f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbb8b7af3439a0efac0c26507e08ada99a12a573477ad089c77b4dc25d5bab8f"
  },
  "id": "YrpC0K1tAfvH9L7S",
  "tags": []
}